
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between mx-2 fw-semibold">
                    Division
                    <button class="btn btn-sm btn-primary mb-3 " data-bs-toggle="modal" data-bs-target="#divisionAdd">
                        <i class="fas fa-solid fa-plus fa-sm text-white-50"></i> Add Division
                    </button>
                </h4>
                <div class="table-responsive">
                    <table id="divisionList" class="table table-condensed display">
                        <thead>
                            <tr>
                                <th>Date Added</th>
                                <th>Division</th>
                                <th>Department</th>
                                <th>Is Division Approver</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divisionAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between fw-semibold">Division</h4></p>
            </div>
            <div class="modal-body">
                <form id="save">
                    <div class="row">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control mt-1" name="name" id="name" required />
                        </div>
                        <div class="form-group mt-3">
                            <label>Department</label>
                            <select class="form-control mt-1 mb-3 departments" id="departmentsId" name="departmentsId" style="width:100%;"></select>
                        </div>
                        <div class="form-group mt-3">
                            <label>Has Division Approver ?</label>
                            <select class="form-control mt-1 mb-3" id="isDivisionApprover" name="isDivisionApprover" style="width:100%;">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <input type="hidden" name="id" id="id" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" value=" submit" class="btn btn-success " id="btnSubmit">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-m modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading fw-semibold" id="exampleModalLabel"><h5>Division</h5></p>
            </div>
            <div class="modal-body">
                <form id="edit">
                    <div class="row">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" name="name" required />
                        </div>
                        <div class="form-group">
                            <label>Department</label>
                            <select class="form-control" name="departmentsId"></select>
                        </div>
                        <div class="form-group mt-3">
                            <label>Has Division Approver</label>
                            <select class="form-control mt-1 mb-3" id="isDivisionApprover" name="isDivisionApprover" style="width:100%;">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <input type="hidden" name="id" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success " id="updatediv">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="deletemodal" tabindex="-1">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title d-flex justify-content-between modal-title" style="padding:0;">Delete Division</h4>
                <a href="#" class="close" data-bs-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <h6 class="card-subtitle">Are you sure you want to Remove this Division?</h6>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="DivisionId" id="DivisionId" />
                <a href="#" class="btn btn-danger" data-bs-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" id="DeleteDivision">Confirm</a>
            </div>
        </div>
    </div>
</div>

@* <div class="modal fade" id="pleasewait" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary mt-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="justify-content-center">
                    <h2 class="text-center ms-3 mt-3" style="font-size:20px;">Loading...</h2>
                </div>
            </div>
        </div>
    </div>
</div> *@

@section scripts
    {

        <script type="text/javascript">
            $(document).ready(function () {
                Divisions();
            });
        </script>
}
