
@{
    ViewBag.Title = "Approveds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between mx-2">
                    Software Request List
                </h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table id="softwareRequestList2" class="table table-condensed display">
                        <thead>
                            <tr>
                                <th>ID#</th>
                                <th>Ticket</th>
                                <th>Date Posted</th>
                                <th>Reported By</th>
                                <th>Programmer Id</th>
                                <th>Software User Id</th>
                                <th>Verified Id</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var tables;
            tables = $("#softwareRequestList2").DataTable({
                "ajax": {
                    "url": "/ServiceRequest/api/SoftwareRequest/allapproved/Get",
                    "headers": {
                        "Authorization": "Bearer " + localStorage.getItem('access_token')
                    },
                    "type": "GET",
                    "dataType": "json",
                },
                "processing": "true",
                "serverSide": "true",
                "ordering": "true",
                "paging": "true",
                "order": [[1, "desc"]],
                "language": {
                    "processing": "Loading... Please wait"
                },
                "autoWidth": false,
                "columns": [
                    {
                        "data": "id",
                    },
                    {
                        "data": "softwareUserRequest.ticket",
                        render: function (data, row) {
                            return '<span class="badge shadow bg-primary" >' + data + '</span>'
                        }
                    },
                    { "data": "softwareUserRequest.dateAdded" },
                    { "data": "softwareUserRequest.fullName" },
                    {
                        "data": "programmerReportId"
                    },
                    {
                        "data": "softwareUserRequestId"
                    },
                    {
                        "data": "softwareVerificationId"
                    },
                    {
                        data: null,
                        render: function (data) {
                            return '<button class="btn btn-danger btn-sm delete" data-id="' + data.id + '"><i class="fas fa-trash"></i> Delete</button>'
                        },
                        "orderable": false,
                    }

                ],

            });

            $('#softwareRequestList2').on('click', '.delete', function () {
                var id = $(this).attr('data-id');
                var url = '/ServiceRequest/api/approve/Delete/' + id;
                $.ajax({
                    // confirm before delete
                    beforeSend: function (xhr) {
                        // use bootbox
                        bootbox.confirm({
                            message: "Are you sure you want to delete this record?",
                            buttons: {
                                // yes and no sequence
                                confirm: {
                                    label: 'Yes',
                                    className: 'btn-success btn-sm'
                                },
                                cancel: {
                                    label: 'No',
                                    className: 'btn-danger btn-sm'
                                }
                            },
                            callback: function (result) {
                                if (result) {
                                    $.ajax({
                                        type: 'DELETE',
                                        url: url,
                                        headers: {
                                            'Authorization': 'Bearer ' + localStorage.getItem('access_token')
                                        },
                                        success: function (data) {
                                            //show please wait modal
                                            $('#pleasewait').modal('show');
                                            //show toastr after 3
                                            setTimeout(function () {
                                                toastr.success("Department Successfully Deleted!");
                                            }, 2000);
                                            setTimeout(function () {
                                                tables.ajax.reload();
                                            }, 3000);
                                        },
                                        //if failed
                                        error: function (data) {
                                            toastr.error("Error Deleting Data")
                                        }
                                    });
                                }
                            }
                        });

                    },
                });
            });
        });
    </script>
}


