@using Cgpp_ServiceRequest.Models.Extensions
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "RequestList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="card-title d-flex justify-content-between mx-2 fw-semibold">
    My Software Request List
</h4>
@if (User.IsInRole("Users"))
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between mx-2">
                    </h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive">
                        <table id="softwareRequestList" class="table table-condensed display">
                            <thead>
                                <tr>
                                    <th>Ticket</th>
                                    <th>Date Posted</th>
                                    <th>Software Category</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@if (User.IsInRole("DivisionApprover"))
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between mx-2">
                    </h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive">
                        <table id="softwareRequestList3" class="table table-condensed display">
                            <thead>
                                <tr>
                                    <th>Ticket</th>
                                    <th>Date Posted</th>
                                    <th>Software Category</th>
                                    <th>Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="modal fade " id="viewmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p class="heading card-title" id="exampleModalLabel">
                    <h5 class="heading card-title d-flex justify-content-center text-center fw-semibold">  Request Details</h5>
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#client-overview">Client Information</button>
                        </li>


                        <li class="nav-item">
                            <button class="nav-link " data-bs-toggle="tab" data-bs-target="#request-overview">Request</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#attachments">Attachments</button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <div class="tab-pane fade show active profile-overview" id="client-overview">
                            <form id="viewRequestclient">
                                <div class="row">
                                    <div class="mb-4 text-center mt-4">
                                        <small class="card-title">Client Information</small>
                                    </div>
                                    <div class="form-group col-8 col-sm-6">
                                        <label for="">Ticket No</label>
                                        <input type="text" class="form-control mb-2" name="ticket" id="ticket" disabled />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Date Created</label>
                                        <input type="text" class="form-control mb-2" name="dateAdded" id="dateAdded" disabled />
                                    </div>
                                    <div class="form-group col-8 col-sm-6">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control mb-2" name="fullName" id="fullName" disabled />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Phone Number</label>
                                        <input type="text" class="form-control mb-2" name="mobileNumber" id="mobileNumber" disabled />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Department</label>
                                        <input class="form-control" id="departmentName" name="departmentName" disabled />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="">Division</label>
                                        <input class="form-control" id="divisionName" name="divisionName" disabled />
                                    </div>
                                    <input type="hidden" id="softwareUserRequestId" name="softwareUserRequestId" />

                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade show  profile-overview" id="request-overview">
                            <form id="viewRequest">
                                <div class="row">

                                    <div class=" text-center mt-3">
                                        <small class="card-title">Software Request Details</small>
                                    </div>
                                    <div class="form-group col-8 col-sm-6 mt-3">
                                        <label for="">Service Category</label>
                                        <input type="text" class="form-control mb-2" name="softwareName" id="softwareName" disabled />
                                    </div>
                                    <div class="form-group col-8 col-sm-6 mt-3">

                                    </div>
                                    <div class="form-group col-8 col-sm-6 mt-3">
                                        <label for="">System</label>
                                        <input type="text" class="form-control mb-2" name="informationName" id="informationName" disabled />
                                    </div>
                                    <div class="form-group col-sm-6 mt-3">
                                        <label for=""> Request For</label>
                                        <input type="text" class="form-control mb-2" name="requestFor" id="requestFor" disabled />
                                    </div>
                                    <div class="row mt-4">
                                        <label for="FileName" class="col col-form-label ">Subject : </label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control ms-4" id="documentLabel" name="FileName" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="mt-3">Description</label>
                                        <textarea class="form-control" id="description" name="description" style="height: 80px;" disabled> </textarea>
                                    </div>

                                    <input type="hidden" id="softwareUserRequestId" name="softwareUserRequestId" />

                                </div>
                            </form>
                        </div>

                        <div class="tab-pane fade pt-3" id="attachments">
                            <table id="UploadList" class="table table-striped" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Date Added
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                        <th></th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="col-md-12 text-center">
                                <input type="hidden" name="id" id="id" />
                                <button type="button" class="btn btn-primary btn-sm update-image" data-bs-toggle="modal" data-bs-target="#addimageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="softwareUserRequestId" name="softwareUserRequestId">
                                    Add Files
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addimageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header  text-center justify-content-center">
                <h4 class="modal-title justify-content-center dash-title">Upload Image</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="upload2" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" name="softwareUserRequestId" id="softwareUserRequestId" />
                    </div>
                    <div class="form-group">
                        <label for="file" class="pb-1">Select File</label>
                        <input type="file" class="form-control" id="files" name="files" multiple>
                    </div>
                    <div class="form-group mt-4">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary  btn-sm">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="editRequest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading card-title" id="exampleModalLabel"><h5 class="card-title d-flex justify-content-between fw-semibold">  Update Request</h5></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="EditRequest">
                    <div class="row">
                        <div class="form-group col-md-6 mt-3">
                            <label for="">Service Category</label>
                            <select type="text" class="form-control mb-2" name="softwareId" id="softwareId" required></select>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="form-group col-md-4 mb-3">
                            <label for="">System</label>
                            <select class="form-control mt-2 mb-3" name="informationSystemId" id="informationSystemId">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Request For</label>
                            <input type="text" class="form-control mt-2 mb-2" name="requestFor" id="requestFor" required />
                        </div>

                        <div class="row  mb-3">
                            <label for="FileName" class="col-md-1 col-form-label ">Subject : </label>
                            <div class="col-md-11">
                                <input type="text" class="form-control ms-4" id="documentLabel" name="documentLabel" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class=" mb-1">Description</label>
                            <textarea class="form-control" id="description" name="description" style="height: 80px;"> </textarea>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </div>
                    <div class="modal-footer">
                        <button id="UpdateRequest" type="button" class="btn btn-success update-request">Submit</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade " id="editTechRequestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading card-title" id="exampleModalLabel"><h5 class="card-title d-flex justify-content-between fw-semibold">  Update Request</h5></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProg">
                    <div class="row">
                        <div class="form-group col-md-6 mt-3">
                            <label for="">Service Category</label>
                            <select type="text" class="form-control mb-2" name="softwareId" id="softwareId" required></select>
                        </div>
                        <div class="form-group col-md-4 mb-3">
                            <label for="">System</label>
                            <select class="form-control mt-2 mb-3" name="informationSystemId" id="informationSystemId">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Request For</label>
                            <input type="text" class="form-control mt-2 mb-2" name="requestFor" id="requestFor" required />
                        </div>

                        <div class="row  mb-3">
                            <label for="FileName" class="col-md-1 col-form-label ">Subject : </label>
                            <div class="col-md-11">
                                <input type="text" class="form-control ms-4" id="documentLabel" name="documentLabel" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class=" mb-1">Description</label>
                            <textarea class="form-control" id="description" name="description" style="height: 80px;"> </textarea>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </div>
                    <div class="modal-footer">
                        <button id="UpdateRequestReturn" type="button" class="btn btn-success update-request">Submit</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="ReturneditRequest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading card-title" id="exampleModalLabel"><h5 class="card-title d-flex justify-content-between">  Update Request</h5></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="return">
                    <div class="row">
                        <div class="form-group col-md-6 mt-3">
                            <label for="">Service Category</label>
                            <select type="text" class="form-control mb-2" name="softwareId" id="softwareId" required></select>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="form-group col-md-4 mb-3">
                            <label for="">System</label>
                            <select class="form-control mt-2 mb-3" name="informationSystemId" id="informationSystemId">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Request For</label>
                            <input type="text" class="form-control mt-2 mb-2" name="requestFor" id="requestFor" required />
                        </div>

                        <div class="row  mb-3">
                            <label for="FileName" class="col-md-1 col-form-label ">Subject : </label>
                            <div class="col-md-11">
                                <input type="text" class="form-control ms-4" id="documentLabel" name="documentLabel" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class=" mb-1">Description</label>
                            <textarea class="form-control" id="description" name="description" style="height: 250px;"> </textarea>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </div>
                    <div class="modal-footer">
                        <button id="ReturnRequest" type="button" class="btn btn-success update-request">Submit</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CancelRequestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-s modal-notify modal-info" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <form id="cancelRequest">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <p>Do you want to Cancel this Request?</p>
                    </div>
                    <input type="hidden" id="id" name="id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                <button id="cancel" type="button" class="btn btn-success cancel-request">Yes</button>
            </div>
        </div>
    </div>
</div>
@* <div class="modal fade" id="pleasewait" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary mt-3" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        <h2 class="text-center ms-3 mt-3" style="font-size:20px;">Loading...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> *@

<div class="modal fade " id="transactionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p class="heading card-title" id="exampleModalLabel">
                    <h5 class="heading card-title d-flex justify-content-center text-center ">  Request Tracking</h5>
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#Assigned">Transaction List</button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">
                                <table id="progReport" class="table" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                Date Added
                                            </th>
                                            <th>Ticket No.</th>
                                            <th>Issue</th>
                                            <th>
                                                Task
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div><!-- End Bordered Tabs -->
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="transactionReportModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <p class="heading card-title" id="exampleModalLabel">
                    <h5 class="heading card-title d-flex justify-content-center text-center ">  Report Details</h5>
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Report</button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Attachments</button>
                                </li>
                            </ul>
                            <div class="tab-content pt-2">
                                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    <form id="report2">
                                        <div class="row">
                                            <div class=" text-center mt-3">
                                                <small class="card-title">Software Request Details</small>
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">Service Category</label>
                                                <input type="text" class="form-control mb-2" name="softwareName" id="softwareName" disabled />
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">

                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">System</label>
                                                <input type="text" class="form-control mb-2" name="informationName" id="informationName" disabled />
                                            </div>
                                            <div class="form-group col-sm-6 mt-3">
                                                <label for=""> Request For</label>
                                                <input type="text" class="form-control mb-2" name="requestFor" id="requestFor" disabled />
                                            </div>
                                            <div class="row mt-4">
                                                <label for="FileName" class="col col-form-label ">Subject : </label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control ms-4" id="documentLabel" name="documentLabel" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="mt-3">Description</label>
                                                <textarea class="form-control" id="remarks" name="remarks" style="height: 80px;" disabled> </textarea>
                                            </div>
                                            <div class=" text-center mt-5">
                                                <small class="card-title">Software Request Report </small>
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">date Assigned</label>
                                                <input type="text" class="form-control mb-2" name="dateAssigned" id="dateAssigned" disabled />
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">Resulotion</label>
                                                <input type="text" class="form-control mb-2" name="resulotion" id="resulotion" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="mt-3">Programmer Remarks</label>
                                                <textarea class="form-control" id="remarks" name="remarks" style="height: 80px;" disabled> </textarea>
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">Date Started</label>
                                                <input type="text" class="form-control mb-2" name="dateAdded" id="dateAdded" disabled />
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">Date Finished</label>
                                                <input type="text" class="form-control mb-2" name="dateEnded" id="dateEnded" disabled />
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">Date Verified</label>
                                                <input type="text" class="form-control mb-2" name="dateVerified" id="dateVerified" disabled />
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">Verified By</label>
                                                <input type="text" class="form-control mb-2" name="adminName" id="adminName" disabled />
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">Date Approved</label>
                                                <input type="text" class="form-control mb-2" name="dateApproved" id="dateApproved" disabled />
                                            </div>
                                            <div class="form-group col-8 col-sm-6 mt-3">
                                                <label for="">Approved By</label>
                                                <input type="text" class="form-control mb-2" name="superAdminName" id="superAdminName" disabled />
                                            </div>
                                            @*<div class="form-group">
                                                    <label for="" class="mt-3">Super Admin Remarks</label>
                                                    <textarea class="form-control" id="remarksApproval" name="remarksApproval" style="height: 200px;"> </textarea>
                                                </div>*@
                                            <input type="hidden" id="id" name="programmerReportId" />
                                            <input type="hidden" id="softwareUserRequestId" name="softwareUserRequestId" />

                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <table id="UploadList3" class="table table-striped" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Date Added
                                                </th>
                                                <th>
                                                    Image
                                                </th>
                                                <th>Remarks</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div><!-- End Bordered Tabs -->
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script>
        $(document).ready(function () {
            SoftwareRequestList();
        });
    </script>
}

