
@{
    ViewBag.Title = "MyReportList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body mb-4">
                <h4 class="card-title d-flex fw-semibold">
                    My Total Reports (Yearly)
                </h4>
                <div class="chartSize" style="height: 40%; width: 100%; ">
                    <canvas id="myReport" height="60"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body mb-4">
                <div class="justify-content-between d-flex">
                    <div>
                        <h4 class="card-title d-flex fw-semibold">
                            Monthly (2023)
                        </h4>
                    </div>
                  
                </div>
                <div class="chartSize" style="height: 40%; width: 100%; ">
                    <canvas id="techchart" height="60"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/api/sf/mytech/count',
                headers: {
                    Authorization: "Bearer " + localStorage.getItem("access_token"),
                },
                success: function (res) {
                    var labels = [];
                    var data = [];
                    var total = 0;

                    $.each(res, function (i, item) {
                        labels.push(moment(item.month, 'M').format('MMMM'));
                        data.push(item.count);
                        total += item.data;
                    });


                    console.log(data);
                    new Chart(document.getElementById("techchart"), {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [
                                {
                                    data: data,
                                    label: "Total",
                                    borderColor: "#3cba9f",
                                    fill: false
                                }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Line Chart Monthly (2023)'
                            }
                        }
                    });
                }

            });

            $.ajax({
                type: 'GET',
                url: '/api/sf/mytech/countyear',
                headers: {
                    Authorization: "Bearer " + localStorage.getItem("access_token"),
                },
                success: function (res) {
                    var labels = [];
                    var data = [];
                    var colors = [];
                    var hoverColors = [];
                    var total = 0;
                    $.each(res, function (i, item) {
                        labels.push(item.year);
                        data.push(item.count);
                        colors.push('#' + (Math.random() * 0xFFFFFF << 0).toString(16));
                        total == item.data;
                    });
                    /*console.log(res);*/
                    var ctxP3 = document.getElementById("myReport").getContext('2d');
                    if (window.ctxP3 != undefined)
                        window.ctxP3.destroy();
                    window.ctxP2 = new Chart(ctxP3, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                data: data,
                                label: "",
                                backgroundColor: colors,
                                borderColor: colors,
                                borderWidth: 1,
                                fill: false
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            responsive: true,
                            maintainAspectRation: false,
                            events: false,
                            tooltips: {
                                enabled: false,
                                callbacks: {
                                    label: function (tooltipItem) {
                                        return tooltipItem.yLabel;
                                    }
                                }
                            },
                            title: {
                                display: true,
                                text: 'Bar Chart (Yearly)'
                            },
                            hover: {
                                animationDuration: 1
                            },
                            animation: {
                                duration: 1,
                                onComplete: function () {
                                    var chartInstance = this.chart,
                                        ctx = chartInstance.ctx;
                                    ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                    ctx.textAlign = 'center';
                                    ctx.textBaseline = 'bottom';

                                    this.data.datasets.forEach(function (dataset, i) {
                                        var meta = chartInstance.controller.getDatasetMeta(i);
                                        meta.data.forEach(function (bar, index) {
                                            var data = dataset.data[index];
                                            ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                        });
                                    });
                                }
                            }
                        }
                    });
                },
                //if failed
                error: function (data) {

                    // toastr.info("Success")
                }
            });
        });
    </script>
}




