
@{
    ViewBag.Title = "TechnicianUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between mx-2">
                    Software Request List
                </h4>
                <h6 class="card-subtitle"></h6>
                <div class="table-responsive">
                    <table id="hardwareRequestList" class="table table-condensed display">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>FileName</th>
                                <th>TechnicianReport Id</th>
                                <th>Date Added</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
         TechnicianUploads();
        });
    </script>
}
