
@{
    ViewBag.Title = "SoftwareRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Users"))
{
    <h4 class="card-title d-flex justify-content-between mx-2 fw-semibold">
        Software Category Services
    </h4>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between mx-2">
                    </h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive">
                        <table id="softwareList" class="table table-condensed display">
                            <thead>
                                <tr>
                                    <th>Software Category</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddSoftware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="save">
                        <div class="row">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control mt-2 mb-3" name="name" placeholder="Category Services" id="name" required />
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" value=" submit" class="btn btn-success " id="btnSubmit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                </div>
                <div class="modal-body">
                    <form id="edit">
                        <div class="row">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control mt-2 mb-3" name="name" placeholder="Category Services" id="name" required />
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" value=" submit" class="btn btn-success " id="updateDate">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Request*@
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="softwarerequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h5 class="card-title d-flex justify-content-between fw-semibold">Service Request Form</h5></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form id="SaveRequest" name="SaveRequest" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="form-group col-md-12 mt-3 mb-3 ">
                                        <select class="form-control card-title text-center fw-semibold fs-4" id="softwareId" name="softwareId" disabled style="border: none; background-color: #FFFFFF">
                                        </select>

                                    </div>

                                    <div class="form-group col-md-6 mt-3 mb-3">
                                        <label for="">Information System</label>
                                        <select class="form-control" id="informationSystemId" name="informationSystemId"> </select>
                                    </div>
                                    <div class="form-group col-md-6 mt-3 mb-3">
                                        <label for="">Request For</label>
                                        <input class="form-control" id="requestFor" name="requestFor" />
                                    </div>
                                    <div class="col-md-6">
                                        <label for=""> Any Desk :</label>
                                        <input type="text" class="form-control mt-2 mb-2" name="anyDesk" id="anyDesk" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label for=""> Tel No. :</label>
                                        <input type="text" class="form-control mt-2 mb-2" name="telNumber" id="telNumber" required />
                                    </div>
                                    <div class="row mt-3">
                                        <label for="FileName" class="col col-form-label ">Subject : </label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control ms-4" id="FileName" name="FileName" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="mt-3">Description</label>
                                        <textarea class="form-control" id="description" name="description" style="height: 80px;"> </textarea>
                                    </div>


                                    <div class="row mt-4 mb-3">
                                        <label class="col-md-2 col-form-label"> Add Image </label>
                                        <div class="col-md-5">
                                            <input name="files" type="file" class="form-control" id="files" multiple>
                                        </div>
                                    </div>
                                    <input type="hidden" id="softwareId" name="softwareId" />
                                    <input type="hidden" id="phoneNumber" name="PhoneNumber" value="[]" />

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnRequest" type="submit" value=" submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@if (User.IsInRole("DivisionApprover"))
{
    <h4 class="card-title d-flex justify-content-between mx-2 fw-semibold">
        Software Category Services
    </h4>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between mx-2">
                    </h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive">
                        <table id="softwareList" class="table table-condensed display">
                            <thead>
                                <tr>
                                    <th>Software Category</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddSoftware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="save">
                        <div class="row">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control mt-2 mb-3" name="name" placeholder="Category Services" id="name" required />
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" value=" submit" class="btn btn-success " id="btnSubmit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                </div>
                <div class="modal-body">
                    <form id="edit">
                        <div class="row">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control mt-2 mb-3" name="name" placeholder="Category Services" id="name" required />
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" value=" submit" class="btn btn-success " id="updateDate">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Request*@
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="softwarerequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h5 class="card-title d-flex justify-content-between">Service Request Form</h5></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form id="SaveRequest" name="SaveRequest" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="form-group col-md-12 mt-3 mb-3 ">
                                        <select class="form-control card-title text-center" id="softwareId" name="softwareId" disabled style="border: none; background-color: #FFFFFF">
                                        </select>

                                    </div>

                                    <div class="form-group col-md-6 mt-3 mb-3">
                                        <label for="">Information System</label>
                                        <select class="form-control" id="informationSystemId" name="informationSystemId"> </select>
                                    </div>
                                    <div class="form-group col-md-6 mt-3 mb-3">
                                        <label for="">Request For</label>
                                        <input class="form-control" id="requestFor" name="requestFor" />
                                    </div>
                                    <div class="row mt-3">
                                        <label for="FileName" class="col col-form-label ">Subject : </label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control ms-4" id="FileName" name="FileName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="mt-3">Description</label>
                                        <textarea class="form-control" id="description" name="description" style="height: 80px;"> </textarea>
                                    </div>


                                    <div class="row mt-4 mb-3">
                                        <label class="col-md-2 col-form-label"> Add Image </label>
                                        <div class="col-md-5">
                                            <input name="files" type="file" class="form-control" id="files" multiple>
                                        </div>
                                    </div>
                                    <input type="hidden" id="softwareId" name="softwareId" />
                                    <input type="hidden" id="phoneNumber" name="PhoneNumber" value="[]" />

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnRequestAdmin" type="submit" value=" submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
@if (User.IsInRole("DepartmentApprover"))
{
    <h4 class="card-title d-flex justify-content-between mx-2">
        Software Category Services
    </h4>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between mx-2">
                    </h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive">
                        <table id="softwareList" class="table table-condensed display">
                            <thead>
                                <tr>
                                    <th>Software Category</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddSoftware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="save">
                        <div class="row">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control mt-2 mb-3" name="name" placeholder="Category Services" id="name" required />
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" value=" submit" class="btn btn-success " id="btnSubmit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                </div>
                <div class="modal-body">
                    <form id="edit">
                        <div class="row">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control mt-2 mb-3" name="name" placeholder="Category Services" id="name" required />
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" value=" submit" class="btn btn-success " id="updateDate">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Request*@
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="softwarerequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h5 class="card-title d-flex justify-content-between">Service Request Form</h5></p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <form id="SaveRequest" name="SaveRequest" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="form-group col-md-12 mt-3 mb-3 ">
                                        <select class="form-control card-title text-center" id="softwareId" name="softwareId" disabled style="border: none; background-color: #FFFFFF">
                                        </select>

                                    </div>

                                    <div class="form-group col-md-6 mt-3 mb-3">
                                        <label for="">Information System</label>
                                        <select class="form-control" id="informationSystemId" name="informationSystemId"> </select>
                                    </div>
                                    <div class="form-group col-md-6 mt-3 mb-3">
                                        <label for="">Request For</label>
                                        <input class="form-control" id="requestFor" name="requestFor" />
                                    </div>
                                    <div class="row mt-3">
                                        <label for="FileName" class="col col-form-label ">Subject : </label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control ms-4" id="FileName" name="FileName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="mt-3">Description</label>
                                        <textarea class="form-control" id="description" name="description" style="height: 80px;"> </textarea>
                                    </div>


                                    <div class="row mt-4 mb-3">
                                        <label class="col-md-2 col-form-label"> Add Image </label>
                                        <div class="col-md-5">
                                            <input name="files" type="file" class="form-control" id="files" multiple>
                                        </div>
                                    </div>
                                    <input type="hidden" id="softwareId" name="softwareId" />
                                    <input type="hidden" id="phoneNumber" name="PhoneNumber" value="[]" />

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnRequestAdmin" type="submit" value=" submit" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
@if (User.IsInRole("SoftwareAdmin") || User.IsInRole("HardwareAdmin") || User.IsInRole("SuperAdmin") || User.IsInRole("Developer"))
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between mx-2">
                        Software Category Services
                        <button class="btn btn-sm btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#AddSoftware">
                            <i class="fas fa-solid fa-plus fa-sm text-white-50"></i> Add Category Services
                        </button>
                    </h4>
                    <h6 class="card-subtitle"></h6>
                    <div class="table-responsive">
                        <table id="softwareList2" class="table table-condensed display">
                            <thead>
                                <tr>
                                    <th>Software</th>
                                    <th>Request</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddSoftware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                </div>
                <div class="modal-body">
                    <form id="save">
                        <div class="row">
                            <div class="form-group">
                                <label for="">Category Services</label>
                                <input type="text" class="form-control mt-2 mb-3" name="name" id="name" required />
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" value=" submit" class="btn btn-success " id="btnSubmit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-m modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                </div>
                <div class="modal-body">
                    <form id="edit">
                        <div class="row">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" class="form-control mt-2 mb-3" name="name" placeholder="Category Services" id="name" required />
                            </div>
                        </div>
                        <input type="hidden" id="id" name="id" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" value=" submit" class="btn btn-success " id="updateDate">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


}

@section scripts
    {
    <script>
        $(document).ready(function () {
            UserSoftwareRequestCategory();
            SoftwareRequesting();
        });
    </script>
}
