
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Register</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Content/assets/img/cgpp-2.png" rel="icon">

    <link href="/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Vendor CSS Files -->
    <link href="/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/toastr.css" rel="stylesheet" />
    <link href="/Content/custom.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="/Content/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card_register">
                <div class="d-flex justify-content-center">

                </div>
                <div class="justify-content-center mt-5">
                    <h5 class="card-title text-center  fs-4">Cgpp - Service Desk</h5>
                    <p class="mt-0 text-center small"> Register Account</p>

                </div>
                <div class="d-flex justify-content-center">
                    <form class="row g-3 needs-validation" id="registerForm" novalidate>
                        <div class="col-sm-4">
                            <label for="fullName" class="form-label">First Name</label>
                            <div class="input-group has-validation">
                                <input type="text" name="firstName" class="form-control " id="firstName" required>
                                <div class="invalid-feedback mb-0">Please enter your First Name.</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="middleName" class="form-label">Middle Name</label>
                            <div class="input-group has-validation">
                                <input type="text" name="middleName" class="form-control " id="middleName" required>
                                <div class="invalid-feedback mb-0">Please enter your Middle Name.</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="lastName" class="form-label">Last Name</label>
                            <div class="input-group has-validation">
                                <input type="text" name="lastName" class="form-control " id="lastName" required>
                                <div class="invalid-feedback mb-0">Please enter your Last Name.</div>
                            </div>
                        </div>
                        <div>
                            <label for="fullName" class="form-label">User Name</label>
                            <div class="input-group has-validation">
                                <input type="text" name="userName" class="form-control" id="userName" placeholder=" Ex. Juan Dela Cruz" required>
                                <div class="invalid-feedback mb-0">Please enter your User Name.</div>
                            </div>
                        </div>
                        <div class=" col-sm-6 mt-0">
                            <label for="phoneNumber" class="form-label">Mobile Number</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-mobile-alt"></i></span>
                                <input type="text" name="mobileNumber" class="form-control" id="mobileNumber" placeholder="(63) 02 xxxx-xxxx " required>
                                <div class="invalid-feedback">Please enter your Full Name.</div>
                            </div>
                        </div>

                        <div class=" col-sm-6 mt-0">
                            <label for="yourUsername" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-envelope"></i></span>
                                <input type="text" name="email" class="form-control" id="email" placeholder="JuanDelaCruz@gmail.com" required>
                                <div class="invalid-feedback">Please enter your username.</div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="Password" class="form-label">Password</label>
                            <div class="input-group">
                                <span class="input-group-text fas fa-eye-slash field-icon toggle-password" id="revealPassword"></span>
                                <input type="password" name="password" class="form-control" id="password" required>
                                <div class="invalid-feedback">Please enter your password!</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-text fas fa-eye-slash field-icon toggle-password" id="revealPasswordconfirm"></span>
                                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" required>
                                <div class="invalid-feedback">Pleas enter your password!</div>
                            </div>
                        </div>
                        <span class="col-12 text-center align-center m-0 p-0" id="confirm_password_msg"></span>
                        <div>
                            <button class="btn btn-primary w-100" type="submit" id="FormSubmit">Submit</button>
                        </div>
                        <div class="alert alert-info mt-3 mb-0" style="font-size:13px;">
                            Password must have at least one non letter or digit character.
                            <br />
                            Password must have at least one digit ('0'-'9').
                            <br />
                            Password must have at least one uppercase ('A'-'Z').
                            <br />
                            Example:  Cmsid@2023
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div class="modal fade" id="pleasewait" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary mt-3" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        <h2 class="text-center ms-3 mt-3" style="font-size:20px;">Loading...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<!-- Vendor JS Files -->
<script src="/Scripts/jquery-3.4.1.js"></script>
<script src="/Scripts/bootbox.js"></script>
<script src="/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Scripts/toastr.js"></script>
<script src="/Scripts/moment.js"></script>

<!-- Template Main JS File -->
<script src="/Content/assets/js/main.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            //Password Reveal
            $('#revealPassword').click(function () {
                if ($(this).hasClass('fa-eye-slash')) {
                    $(this).removeClass('fa-eye-slash');
                    $(this).addClass('fa-eye');
                    $('#password').attr('type', 'text');
                } else {
                    $(this).removeClass('fa-eye');
                    $(this).addClass('fa-eye-slash');
                    $('#password').attr('type', 'password');
                }
            });
        });

        $(function () {
            //Password Reveal
            $('#revealPasswordconfirm').click(function () {
                if ($(this).hasClass('fa-eye-slash')) {
                    $(this).removeClass('fa-eye-slash');
                    $(this).addClass('fa-eye');
                    $('#confirmPassword').attr('type', 'text');
                } else {
                    $(this).removeClass('fa-eye');
                    $(this).addClass('fa-eye-slash');
                    $('#confirmPassword').attr('type', 'password');
                }
            });
        });

        $("#confirmPassword").bind('keyup change', function () {
            check_Password($("#password").val(), $("#confirmPassword").val())
        })

        $("#FormSubmit").click(function () {
            check_Password($("#password").val(), $("#confirmPassword").val())
        })


        function check_Password(Pass, Con_Pass) {

            if (Pass === "") {

            } else if (Pass === Con_Pass) {

                $("#FormSubmit").removeAttr("onclick")
                $('#confirm_password_msg').show()
                $("#confirm_password_msg").html('<div class=" alert alert-success">Password matched</div>')

                setTimeout(function () {
                    $('#confirm_password_msg').fadeOut('slow');
                }, 4000);

            } else {
                $("#confirm_password").focus()
                $('#confirm_password_msg').show()
                $("#confirm_password_msg").html('<div class=" alert alert-danger">Password did not matched</div>')

                setTimeout(function () {
                    $('#confirm_password_msg').fadeOut('slow');
                }, 4000);
            }
        }

        $.ajax({
            type: 'GET',
            url: '/api/v1/roles/users',
            success: function (data) {
                // check data has content
                if (data.length > 0) {
                    console.log('data has content');
                    window.location.href = "/Login";
                } else {
                    // redirect to login page
                    /*window.location.href = "/CreateUser";*/
                }
            },
            //if failed
            error: function (data) {
                toastr.info("Success")
            }
        });
        if (localStorage.getItem("username") != null) {
            window.location.href = "/home";
        }

        $('#registerForm').submit(function (e) {
            e.preventDefault();
            var valdata = $(this).serialize();
            $.ajax({
                url: '/api/Account/RegisterDev',
                type: 'POST',
                data: valdata,
                success: function (data) {
                    $('#pleasewait').modal('show');
                    setTimeout(function () {
                        toastr.success("Account Created Successfully");
                        // hide please wait modal
                    }, 2000),
                        setTimeout(function () {
                            window.location.href = "/Roles/DefaultRole";
                        }, 3000);
                },
                error: function (data) {
                    toastr.error('Error');
                }
            })
        });
    });
</script>