@using Cgpp_ServiceRequest.Models.Extensions
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Request Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Users") || User.IsInRole("DivisionApprover") || User.IsInRole("DepartmentApprover"))
{
                            <h4 class="card-title ms-4 fw-semibold">
                                    Hardware Category Services
                                </h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title d-flex justify-content-between mx-2">
                                                </h4>
                                                <h6 class="card-subtitle"></h6>
                                                <div class="table-responsive">
                                                    <table id="hardwareList" class="table table-condensed display">
                                                        <thead>
                                                            <tr>
                                                               
                                                                <th>Request</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="hardwareeRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-notify modal-info" role="document">
                                        <div class="modal-content">
                                            <form id="SaveRequest" name="SaveRequest" enctype="multipart/form-data">
                                                <div class="modal-header m-0">
                                                    <select class="form-control card-title d-flex justify-content-between text-center fw-semibold fs-4 m-0" id="hardwareId" name="hardwareId" disabled style="border: none; background-color: #FFFFFF">
                                                    </select>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body mb-0">
                                                    <div class="row mt-4 mx-2">
                                                        <div class="form-group col-md-4">
                                                            <label for="">Unit Name :</label>
                                                            <select class="form-control mt-2" name="unitTypeId" id="unitTypeId" required>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> Brand Name :</label>
                                                            <input type="text" class="form-control mt-2 mb-2" name="brandName" id="brandName" required />
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label for=""> Model Name :</label>
                                                            <input type="text" class="form-control mt-2 mb-2" name="modelName" id="modelName" required />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for=""> Any Desk :</label>
                                                            <input type="text" class="form-control mt-2 mb-2" name="anyDesk" id="anyDesk" required />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label for=""> Tel No. :</label>
                                                            <input type="text" class="form-control mt-2 mb-2" name="telNumber" id="telNumber" required />
                                                        </div>
                                                        <div class="row mt-3">
                                                            <label for="FileName" class="col-md-1 col-form-label ">Subject : </label>
                                                            <div class="col-md-11">
                                                                <input type="text" class="form-control ms-4" id="FileName" name="FileName" required />
                                                            </div>
                                                        </div>
                                                        <div class="form-group mt-3">
                                                            <label for="" class=" mb-1">Description :</label>
                                                            <textarea class="form-control" id="description" name="description" style="height: 70px;" required> </textarea>
                                                        </div>


                                                        <div class="row mt-4 mb-3">
                                                            <label class="col-md-2 col-form-label"> Add Image </label>
                                                            <div class="col-md-5">
                                                                <input name="file" type="file" class="form-control" id="file" multiple>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <input type="hidden" name="hardwareId" id="hardwareId">
                                                    <input type="hidden" name="ftpId" id="ftpId" />
                                                </div>
                                            </form>
                                            <div class="modal-footer">
                                                <button id="btnRequest" type="button" class="btn btn-success">Submit</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

}

@if (User.IsInRole("HardwareAdmin") || User.IsInRole("SuperAdmin") || User.IsInRole("Developer"))
{
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title d-flex justify-content-between mx-2">
                                                    Hardware Category Services
                                                    <button class="btn btn-sm btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#AddHardware">
                                                        <i class="fas fa-solid fa-plus fa-sm text-white-50"></i> Add Category Services
                                                    </button>
                                                </h4>
                                                <h6 class="card-subtitle"></h6>
                                                <div class="table-responsive">
                                                    <table id="hardwareList2" class="table table-condensed display">
                                                        <thead>
                                                            <tr>
                                                                <th>Hardware Category</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="AddHardware" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-m modal-notify modal-info" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Hardware Category Services</h4></p>
                                            </div>
                                            <div class="modal-body">
                                                <form id="save">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label for="">Category Services</label>
                                                            <input type="text" class="form-control mt-2 mb-3" name="name" id="name" required />
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id="id" name="id" />
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" value=" submit" class="btn btn-success " id="btnSubmit">Submit</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


    @*modal for Request*@
                                <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-m modal-notify modal-info" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <p class="heading" id="exampleModalLabel"><h4 class="card-title d-flex justify-content-between">Software Category Services</h4></p>
                                            </div>
                                            <div class="modal-body">
                                                <form id="edit">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label for="">Name</label>
                                                            <input type="text" class="form-control mt-2 mb-3" name="name" placeholder="Category Services" id="name" required />
                                                        </div>

                                                    </div>
                                                    <input type="hidden" id="id" name="id" />
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" value=" submit" class="btn btn-success " id="updateDate">Submit</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
}
@section scripts
    {
                            <script>
                                    $(document).ready(function () {

                                        UserHardwareServices();
                                        HardwareRequesting();
                                    });
                                </script>
}


